[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 119
target-version = ["py313"]

[tool.isort]
profile = "black"
line_length = 119

[tool.pytest.ini_options]
testpaths = ["tests"]
